<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <!--
    <link href="//unpkg.com/layui@2.8.17/dist/css/layui.css" rel="stylesheet">
    -->
    <!-- 引入layui css 文件 -->
    <!--
    <link href="https://cdn.staticfile.org/layui/2.8.1/css/layui.css" rel="stylesheet">
    -->
    <link th:href="@{/lib/layui-v2.8.1/css/layui.css}" rel="stylesheet" type="text/css"/>

    <script src="../lib/layui-v2.8.1/layui.js" type="text/javascript" charset="UTF-8"></script>

<body>


<table id="model_table" class="layui-hide" lay-filter="model_table"></table>


<!-- 头部工具 -->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addmodel">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="addmodelwindow">新增</button>
        <!--
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        -->
    </div>
</script>
<!-- 表格中的按键 -->
<script type="text/html" id="barDemo">
    <!--
    <a class="layui-btn layui-btn-xs" lay-event="add">增加</a>
    -->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<link th:href="@{/lib/layui-v2.8.1/css/layui.css}" rel="stylesheet" type="text/css"/>
<script src="../lib/layui-v2.8.1/layui.js" type="text/javascript" charset="UTF-8"></script>

<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        var layer = layui.layer;
     //   var element = layui.element;
     //   var layer = layui.layer;
     //   var form = layer.form;
     //   var $ = layui.jquery;

        table.render({
            elem: '#model_table',
            url: '/baseadmin/oneclick/showmodel', // 数据接口
            toolbar: '#toolbarDemo', // 表格头部工具栏
            defaultToolbar: ['filter', 'exports', 'print', { // 自定义头部工具栏右侧图标
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            page: true, // 开启分页
            even: true, // 开启偶数行背景
            skin: 'line', // 表格风格
            totalRow: true, // 开启合计行
            cols: [[ // 表头
                {type: 'checkbox', fixed: 'left'}, // 多选框
                {field:'id', title:'编号', width:'6%', fixed: 'left', totalRowText: '合计'}, // 编号列
                {field: 'version', title: '版本', edit: 'text'}, // 版本列（可编辑）
                {field: 'sort', title: '分类', totalRow: true}, // 分类列
                {field: 'model_name', title: '算法名称', totalRow: true}, // 算法名称列
                {fixed: 'right', title:'操作', toolbar: '#barDemo'} // 操作列
            ]],
            done: function(res, curr, count){
                // 数据渲染完的回调
                console.log(res, curr, count);
            }
        });


        // 监听头部工具栏事件
        table.on('toolbar(model_table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

               // case 'LAYTABLE_TIPS':
               //     layer.alert('这是工具栏右侧自定义的一个图标按钮');
                //    break;
            }
        });

        // 监听表格内操作按钮事件
        table.on('tool(model_table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2,
                    value: data.model_name
                }, function(value, index){
                    obj.update({
                        model_name: value // 注意这里应该是 model_name 而不是 name
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'add'){
                // 添加操作的代码，可以根据需求进行具体实现
              //  console.log("Add operation clicked");
                var formHtml = `
        <form class="layui-form" id="addForm" style="padding: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">版本：</label>
                <div class="layui-input-block">
                    <input type="text" name="version" required lay-verify="required" placeholder="请输入版本号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">


                <label class="layui-form-label">分类11：</label>

                <div class="layui-input-block">

                <div class="layui-form">
                <select id="mySelect" name="options">
                <option value="">请选择</option>
             <optgroup label="可见光图像">
                <option value="visible-light-image-classification">图像分类</option>
                <option value="visible-light-object-detection">目标检测</option>
              </optgroup>
            <optgroup label="红外图像">
                <option value="infrared-image-classification">图像分类</option>
                <option value="infrared-image-object-detection">目标检测</option>
            </optgroup>
             </select>
             </div>

    </div>


            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">算法名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="model_name" required lay-verify="required" placeholder="请输入算法名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submitForm">提交</button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="layer.closeAll();">取消</button>
                </div>
            </div>
        </form>
    `;

    layer.open({
        type: 1,
        title: '添加内容',
        content: formHtml,
        btn: false, // 不显示默认按钮
        shadeClose: true, // 点击遮罩关闭弹窗
        closeBtn: 0, // 不显示关闭按钮
        success: function(layero, index) {
            layui.form.render();
            // 解绑之前可能存在的监听器，确保只绑定一次
           // layui.form.off('submit(submitForm)');
            // 确保在成功打开弹窗后只绑定一次监听器
            layui.form.on('submit(submitForm)', function(data){
                 var addData = data.field;
                 table.reload('model_table', {
                 url: '/baseadmin/oneclick/addmodel',
                 method: 'post',
                 contentType: 'application/json',
                 where: addData,
                 done: function(res, curr, count){
                  layer.msg('添加成功');
            }
        });
        layer.closeAll();
        return false;
    });
  }
    });
}
 });

        // 监听单元格编辑事件
        table.on('edit(model_table)', function(obj){
            var value = obj.value, // 修改后的值
                data = obj.data, // 所在行所有键值
                field = obj.field; // 字段名
            layer.msg('修改成功: ID ['+ data.id +'] ' + field + ' 字段更改为：'+ value);
        });
    });
</script>


<script>
    layui.use(['layer', 'form', 'table'], function(){
     var layer = layui.layer;
     var form = layui.form;
     var $ = layui.jquery;
     var table = layui.table;



     var formHtml = `
        <form class="layui-form" id="addForm" style="padding: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">版本：</label>
                <div class="layui-input-block">
                    <input type="text" name="version" required lay-verify="required" placeholder="请输入版本号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类：</label>
                <div class="layui-input-block">
                    <input type="text" name="sort" required lay-verify="required" placeholder="请输入分类" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">算法名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="model_name" required lay-verify="required" placeholder="请输入算法名称" autocomplete="off" class="layui-input">
                </div>
            </div>

                  <div class="layui-form-item">
                            <label class="layui-form-label">算法上传:</label>
                            <div class="layui-input-block">
                                <div class="layui-btn-container">
                                    <button type="button" class="layui-btn layui-btn-normal"
                                            id="uploadmodelFile">选择文件
                                    </button>
                                    <button type="button" class="layui-btn" id="uploadModel">开始上传</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">数据重命名:</label>
                                <div class="layui-input-block">
                                    <input type="text" placeholder="请重命名图像分类前缀" class="layui-input"
                                           required="" id="reModelName">

                                </div>
                            </div>

                   </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submitForm">提交</button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="layer.closeAll();">取消</button>
                </div>
            </div>
        </form>
    `;



     var submitting = false; // Flag to prevent multiple submissions

     // Listen for add model button click event
     $('button[lay-event="addmodel"]').on('click', function(){
         if (submitting) return; // Prevent multiple submissions

         // Open layer dialog
         layer.open({
             type: 1,
             title: '添加模型',
             content: formHtml,
             btn: false, // Do not display default buttons
             shadeClose: true, // Clicking the shade closes the dialog
             closeBtn: 0, // Do not display the close button
             success: function(layero, index) {
                 // After the dialog opens successfully, render the form and register submit event listeners
                 form.render();

                 // Listen for form submission event
                 form.on('submit(submitForm)', function(data){
                     if (submitting) return false; // Prevent multiple submissions
                     submitting = true; // Set submitting flag to true

                     var formData = data.field;
                     $.ajax({
                         url: '/baseadmin/oneclick/addmodel',
                         type: 'POST',
                         contentType: 'application/json',
                         data: JSON.stringify(formData),
                         success: function(res){
                             if (res.code === 0) {
                                 layer.msg('添加成功');
                                 layer.closeAll(); // Close the dialog
                                 table.reload('model_table'); // Reload the table data

                                 // Clear form inputs
                                 $('input[name="version"]').val('');
                                 $('input[name="sort"]').val('');
                                 $('input[name="model_name"]').val('');
                                 location.reload(); // Reload the page
                             } else {
                                 layer.msg('添加失败：' + res.msg);
                             }
                         },
                         complete: function() {
                             submitting = false; // Reset submitting flag to false
                         },
                         error: function(xhr, status, error) {
                             layer.msg('添加失败：' + error);
                         }
                     });

                     return false; // Prevent the form from auto-submitting
                 });

                 // Adjust dialog position to be closer to the top
                 layero.css({
                     top: '20px', // Adjust as needed
                     marginTop: 0
                 });

                 // When the close button of the dialog is clicked, reset submitting flag to false
                 layero.find('.layui-layer-close').on('click', function() {
                 submitting = false;
                 });
             }
         });
     });





        /**
        * 监听上传文件打开window的网页
        */
     $('button[lay-event="addmodelwindow"]').on('click', function(){
         if (submitting) return; // Prevent multiple submissions


         window.open('https://www.baidu.com', '_blank');



         // Open layer dialog
         /**
         layer.open({
             type: 1,
             title: '添加模型',
             content: formHtml,
             btn: false, // Do not display default buttons
             shadeClose: true, // Clicking the shade closes the dialog
             closeBtn: 0, // Do not display the close button
             success: function(layero, index) {
                 // After the dialog opens successfully, render the form and register submit event listeners
                 form.render();

                 // Listen for form submission event
                 form.on('submit(submitForm)', function(data){
                     if (submitting) return false; // Prevent multiple submissions
                     submitting = true; // Set submitting flag to true

                     var formData = data.field;
                     $.ajax({
                         url: '/baseadmin/oneclick/addmodel',
                         type: 'POST',
                         contentType: 'application/json',
                         data: JSON.stringify(formData),
                         success: function(res){
                             if (res.code === 0) {
                                 layer.msg('添加成功');
                                 layer.closeAll(); // Close the dialog
                                 table.reload('model_table'); // Reload the table data

                                 // Clear form inputs
                                 $('input[name="version"]').val('');
                                 $('input[name="sort"]').val('');
                                 $('input[name="model_name"]').val('');
                                 location.reload(); // Reload the page
                             } else {
                                 layer.msg('添加失败：' + res.msg);
                             }
                         },
                         complete: function() {
                             submitting = false; // Reset submitting flag to false
                         },
                         error: function(xhr, status, error) {
                             layer.msg('添加失败：' + error);
                         }
                     });

                     return false; // Prevent the form from auto-submitting
                 });

                 // Adjust dialog position to be closer to the top
                 layero.css({
                     top: '20px', // Adjust as needed
                     marginTop: 0
                 });

                 // When the close button of the dialog is clicked, reset submitting flag to false
                 layero.find('.layui-layer-close').on('click', function() {
                 submitting = false;
                 });
             }
         });

         ***/
     });


 });

</script>


<script>
    layui.use('form', function(){
        var form = layui.form;

        // 监听表单的选择事件
        form.on('select(mySelect)', function(data){
            console.log(data.value); // 获取选择的值
        });
    });
</script>


</body>
</html>