<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huanzi.qch.baseadmin.dao.Adas_move_scenarioMapper">
  <resultMap id="BaseResultMap" type="cn.huanzi.qch.baseadmin.entity.Adas_move_scenario">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scenario_editor_id" jdbcType="VARCHAR" property="scenario_editor_id" />
    <result column="choice_laws" jdbcType="VARCHAR" property="choice_laws" />
    <result column="select_case" jdbcType="VARCHAR" property="select_case" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scenario_editor_id, choice_laws, select_case, remark, remark1, remark2, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adas_move_scenario
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adas_move_scenario
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.huanzi.qch.baseadmin.entity.Adas_move_scenario">
    insert into adas_move_scenario (id, scenario_editor_id, choice_laws, 
      select_case, remark, remark1, 
      remark2, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{scenario_editor_id,jdbcType=VARCHAR}, #{choice_laws,jdbcType=VARCHAR}, 
      #{select_case,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.huanzi.qch.baseadmin.entity.Adas_move_scenario">
    insert into adas_move_scenario
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scenario_editor_id != null">
        scenario_editor_id,
      </if>
      <if test="choice_laws != null">
        choice_laws,
      </if>
      <if test="select_case != null">
        select_case,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="remark1 != null">
        remark1,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scenario_editor_id != null">
        #{scenario_editor_id,jdbcType=VARCHAR},
      </if>
      <if test="choice_laws != null">
        #{choice_laws,jdbcType=VARCHAR},
      </if>
      <if test="select_case != null">
        #{select_case,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.huanzi.qch.baseadmin.entity.Adas_move_scenario">
    update adas_move_scenario
    <set>
      <if test="scenario_editor_id != null">
        scenario_editor_id = #{scenario_editor_id,jdbcType=VARCHAR},
      </if>
      <if test="choice_laws != null">
        choice_laws = #{choice_laws,jdbcType=VARCHAR},
      </if>
      <if test="select_case != null">
        select_case = #{select_case,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.huanzi.qch.baseadmin.entity.Adas_move_scenario">
    update adas_move_scenario
    set scenario_editor_id = #{scenario_editor_id,jdbcType=VARCHAR},
      choice_laws = #{choice_laws,jdbcType=VARCHAR},
      select_case = #{select_case,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>